name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: JDK 11 Kurulumu
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      
      - name: Gradle Kurulumu
        uses: gradle/gradle-build-action@v2
      
      - name: gradlew için çalıştırma izni ver
        run: chmod +x gradlew
      
      - name: Eklentileri Derle
        run: ./gradlew make
      
      - name: Derlemeleri Yükle
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git checkout --orphan builds
          git reset
          cp -r build/plugins/* .
          git add .
          git commit -m "Eklentiler derlendi" || echo "Commit edilecek değişiklik yok"
          git push -f origin builds
